In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df= pd.read_csv('./Pandas_tips_and_tricks/data/crime_data.csv')

In [5]:
df.head()

,Disposition,OffenderStatus,Offender_Race,Offender_Gender,Offender_Age,PersonType,Victim_Race,Victim_Gender,Victim_Age,Victim_Fatal_Status,Report Type,Category
0,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
1,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
2,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
3,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft
4,CLOSED,ARRESTED,BLACK,MALE,30.0,VICTIM,BLACK,FEMALE,29.0,Non-fatal,Supplemental Report,Theft

In [7]:
df.isnull().sum().sort_values(ascending=False)

Disposition            0
OffenderStatus         0
Offender_Race          0
Offender_Gender        0
Offender_Age           0
PersonType             0
Victim_Race            0
Victim_Gender          0
Victim_Age             0
Victim_Fatal_Status    0
Report Type            0
Category               0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6638 entries, 0 to 6637
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Disposition          6638 non-null   object
 1   OffenderStatus       6638 non-null   object
 2   Offender_Race        6638 non-null   object
 3   Offender_Gender      6638 non-null   object
 4   Offender_Age         6638 non-null   float64
 5   PersonType           6638 non-null   object
 6   Victim_Race          6638 non-null   object
 7   Victim_Gender        6638 non-null   object
 8   Victim_Age           6638 non-null   float64
 9   Victim_Fatal_Status  6638 non-null   object
 10  Report Type          6638 non-null   object
 11  Category             6638 non-null   object
dtypes: float64(2), object(10)
memory usage: 622.4+ KB