# CatBoost Algorithm:
is a state-of-art open-source gradient boosting on decision trees library. It's simple and easy to use. And is now regularly one of the top algorithms used in data science competitions as it produces very good results without extensive data clean-up feature engineering.

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
df= sns.load_dataset('titanic')
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [11]:
# pre-processing of the data
df['age']= df['age'].ffill()
df['embark_town']= df['embark_town'].fillna(df['embark_town'].mode()[0])
df['embarked']= df['embarked'].fillna(df['embarked'].mode()[0])
df.drop('deck', inplace=True, axis=1)

In [12]:
df.isnull().sum().sort_values(ascending=False)

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [14]:
# convert each category column to category
categorical_col= df.select_dtypes(include=['object', 'category']).columns

# add this as a new columns in the dataframe
df[categorical_col]= df[categorical_col].astype('category')

In [ ]:
# split the data into X and y
X = df.drop('survived', axis=1)
y = df['survived']

# split the data into train and test
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.20, random_state=42)

In [20]:
# Run the catboost classifier
model = CatBoostClassifier(iterations= 100, learning_rate=0.1, depth= 3,
                           loss_function= 'Logloss', eval_metric= 'Accuracy', random_seed=42, verbose=False)

# train the model
model.fit(X_train, y_train, cat_features=categorical_col.tolist())

# predictions
y_pred= model.predict(X_test)


# evaluate the model
print(f'Accuracy Score: {accuracy_score(y_test, y_pred)}')
print(f'Confusion Matrix: \n {confusion_matrix(y_test, y_pred)}')
print(f'Classification Report: \n {classification_report(y_test, y_pred)}')

Accuracy Score: 1.0
Confusion Matrix:
 [[105   0]
 [  0  74]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       105
           1       1.00      1.00      1.00        74

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179