In [68]:
import math

In [69]:
n_A= 4
n_B= 6
total= n_A + n_B

In [70]:
#  lets calculate the proportion
p_A= n_A / total
p_B= n_B /total

print('Proportion of A:', p_A)
print('Proportion of B:', p_B)

Proportion of A: 0.4
Proportion of B: 0.6

In [71]:
# Entropy Calculate
# entropy= - p_A * math.log(p_A, 2) - p_B * math.log(p_B, 2) 

# another method of writing Entropy:
entropy= - p_A * math.log2(p_A) - p_B * math.log2(p_B) 
print('Entropy:', entropy)

Entropy: 0.9709505944546686

In [72]:
# gini impurity
#gini impurity is a misclassification
# formula apply of gini impurity
gini= 1 - p_A**2 -p_B**2
print('gini impurity:', gini)

gini impurity: 0.48

In [73]:
# information gain
# assuming a split on some feature 
# subset 1: 2 elements of A, 3 of B
# subset 2: 2 elements of B, 3 of B
# entropy and size for each subset
n_1_A, n_1_B= 2, 3
n_2_A, n_2_B= 2, 3

# find the proportion
p_1_A= n_1_A / (n_1_A + n_1_B)
p_1_B= n_1_B / (n_1_A + n_1_B)
entropy_1= -p_1_A * math.log2(p_1_A) - p_1_B * math.log2(p_1_B) if p_1_A and p_1_B else 0

# find the proportion
p_2_A= n_2_A / (n_2_A + n_2_B)
p_2_B= n_2_B / (n_2_A + n_2_B)
entropy_2= -p_2_A * math.log2(p_2_A) - p_2_B * math.log2(p_2_B) if p_2_A and p_2_B else 0

# caculate the information gain
info_gain= entropy - ((n_1_A + n_1_B) / total * entropy_1 + (n_2_A + n_2_B) / total * entropy_2)
print('Information Gain:', info_gain)

Information Gain: 0.0

# Decision Tree in Python:

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.impute import SimpleImputer

In [5]:
df= sns.load_dataset('titanic')

In [6]:
# drop the deck columns:
df.drop('deck', inplace=True, axis=1)

# impute the misssing values:
imputer= SimpleImputer(strategy='median')
df[['age']]= imputer.fit_transform(df[['age']])

# missing values of emberked or emberk-town 
imputer= SimpleImputer(strategy='most_frequent')
df[['embarked', 'embark_town']]= imputer.fit_transform(df[['embarked', 'embark_town']])

In [4]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [5]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     891 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  embark_town  891 non-null    object
 12  alive        891 non-null    object
 13  alone        891 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 79.4+ KB

In [ ]:
# encode the categorical and object variables using for loop and label encoder
le= LabelEncoder()
for col in df.select_dtypes(include=['category', 'object']):
    df[col]= le.fit_transform(df[col])

In [8]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [9]:
# split the data into X and y
X = df.drop(['survived', 'alive'], axis=1)
y = df['survived']

# split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.80, random_state=42)

In [11]:
# create and train the model with pred or criterion mai aghr value zaida ho toh graph barha bnta hai
model= DecisionTreeClassifier()#model= DecisionTreeClassifier(criterion='entropy', max_depth=5, random_state= 42)
model.fit(X_train, y_train)

# predict the model
y_pred= model.predict(X_test)

In [12]:
# evaluate the model
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.79      0.79       436
           1       0.67      0.67      0.67       277

    accuracy                           0.74       713
   macro avg       0.73      0.73      0.73       713
weighted avg       0.74      0.74      0.74       713

[[345  91]
 [ 91 186]]

In [13]:
# save the decision tree
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./save/Decision_tree_02.dot', feature_names=X.columns, filled=True, rounded=True)

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# Load the dataset
data = sns.load_dataset('tips')

# Create a new binary target variable: 1 if tip > 15% of total_bill, otherwise 0
data['tip_above_15'] = (data['tip'] > 0.15 * data['total_bill']).astype(int)
# Drop columns that are not needed for classification
data.drop(['total_bill', 'tip'], axis=1, inplace=True)
data.head()
# Encode categorical variables
le = LabelEncoder()
for col in data.select_dtypes(include=['category', 'object']):
    data[col] = le.fit_transform(data[col])

# Define features and target variable
X = data.drop('tip_above_15', axis=1)  # Features
y = data['tip_above_15']  # Target variable

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.80, random_state=42)

# Create and train the Decision Tree Classifier model
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Predict the target variable
y_pred = model.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred))
print('Confusion Matrix:\n', confusion_matrix(y_test, y_pred))

      sex smoker  day    time  size  tip_above_15
0  Female     No  Sun  Dinner     2             0
1    Male     No  Sun  Dinner     3             1
2    Male     No  Sun  Dinner     3             1
3    Male     No  Sun  Dinner     2             0
4  Female     No  Sun  Dinner     4             0

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.impute import SimpleImputer

# Load the dataset
data = sns.load_dataset('tips')

# Create a new binary target variable: 1 if tip > 15% of total_bill, otherwise 0
data['tip_above_15'] = (data['tip'] > 0.15 * data['total_bill']).astype(int)

# Drop columns not needed for classification
data.drop(['total_bill', 'tip'], axis=1, inplace=True)

# Encode categorical variables
le = LabelEncoder()
for col in data.select_dtypes(include=['category', 'object']):
    data[col] = le.fit_transform(data[col])

# Define features and target variable
X = data.drop('tip_above_15', axis=1)  # Features
y = data['tip_above_15']  # Target variable

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

# Create and train the Decision Tree Classifier model
model = DecisionTreeClassifier(random_state=42)
model.fit(X_train, y_train)

# Predict the target variable
y_pred = model.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred))
print('Confusion Matrix:\n', confusion_matrix(y_test, y_pred))

# Decision Tree Regressor in titanic dataset:

In [116]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.impute import SimpleImputer

In [123]:
# Load dataset
df = sns.load_dataset('titanic')

# Drop columns not needed for regression
df.drop(['deck'], inplace=True, axis=1)

# Impute missing values
imputer = SimpleImputer(strategy='median')
df[['age']] = imputer.fit_transform(df[['age']])

imputer = SimpleImputer(strategy='most_frequent')
df[['embarked', 'embark_town']] = imputer.fit_transform(df[['embarked', 'embark_town']])

In [124]:
# Encode categorical variables
le = LabelEncoder()
for col in df.select_dtypes(include=['category', 'object']):
    df[col] = le.fit_transform(df[col])

In [125]:
df.head()

   survived  pclass  sex   age  ...  adult_male  embark_town  alive  alone
0         0       3    1  22.0  ...        True            2      0  False
1         1       1    0  38.0  ...       False            0      1  False
2         1       3    0  26.0  ...       False            2      1   True
3         1       1    0  35.0  ...       False            2      1  False
4         0       3    1  35.0  ...        True            2      0   True

[5 rows x 14 columns]

In [134]:
# Let's predict the 'fare' as a continuous variable
X = df.drop(['fare', 'survived'], axis=1)  # Features
y = df['fare']  # Target variable

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [141]:
# Create and train the Decision Tree Regressor model
model = DecisionTreeRegressor(criterion='absolute_error' ,max_depth=3, random_state= 42)
model.fit(X_train, y_train)

# Predict the target variable
y_pred = model.predict(X_test)

In [142]:
# Evaluate the model
print(f'Mean Squred Error: {mean_squared_error(y_test, y_pred)}')
print(f'R2_Score: {r2_score(y_test, y_pred)}')
print(f'RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')

Mean Squred Error: 851.8613019645253
R2_Score: 0.4494991621799056
RMSE: 29.18666308375326

In [143]:
# Save the decision tree
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./save/Decision_tree_regressor.dot', feature_names=X.columns, filled=True, rounded=True)

# Decision Tree Regressor in tips dataset:

In [144]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [145]:
data= sns.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [147]:
le= LabelEncoder()
for col in data.select_dtypes(include=['category', 'object']):
    data[col]=le.fit_transform(data[col])

In [148]:
data.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [153]:
# Let's predict the 'fare' as a continuous variable
X = data.drop(['total_bill', 'sex'], axis=1)  # Features
y = data['total_bill']  # Target variable

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [157]:
# Create and train the Decision Tree Regressor model
model = DecisionTreeRegressor(criterion='absolute_error' ,max_depth=2, random_state= 42)
model.fit(X_train, y_train)

# Predict the target variable
y_pred = model.predict(X_test)

In [158]:
# Evaluate the model
print(f'Mean Squred Error: {mean_squared_error(y_test, y_pred)}')
print(f'R2_Score: {r2_score(y_test, y_pred)}')
print(f'RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}')

Mean Squred Error: 39.32758571428571
R2_Score: 0.5361686392196567
RMSE: 6.271171000242755

In [159]:
# Save the decision tree
from sklearn.tree import export_graphviz
export_graphviz(model, out_file='./save/Decision_tree_regressor_04.dot', feature_names=X.columns, filled=True, rounded=True)