In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [10]:
df=sns.load_dataset('titanic')

In [11]:
# impute age column using iterativeimputer from sklearn
imputer= IterativeImputer(max_iter=20, n_nearest_features=5)

In [13]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [14]:
df['age']= imputer.fit_transform(df[['age']])

In [15]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

# Forward fill and backward fill:

In [ ]:
df['age']= df['age'].fillna(method='bfill')

In [21]:
df['age']= df['age'].fillna(method='ffill')

C:\Users\Summaiya\AppData\Local\Temp\ipykernel_6576\3216212342.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['age']= df['age'].fillna(method='ffill')

In [31]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

# Using KNN imputer:

In [30]:
from sklearn.impute import KNNImputer

# impute age column using KNNimputer from sklearn
imputer= KNNImputer(n_neighbors=5)
df['age']= imputer.fit_transform(df[['age']])

In [16]:
from sklearn.impute import KNNImputer

impuet= KNNImputer(n_neighbors=22)
df['age']= impuet.fit_transform(df[['age']])

In [ ]:
df.dropna(inplace=True) # remove missing value in rows

In [37]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 1 to 889
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     201 non-null    int64
 1   pclass       201 non-null    int64
 2   sex          201 non-null    object
 3   age          201 non-null    float64
 4   sibsp        201 non-null    int64
 5   parch        201 non-null    int64
 6   fare         201 non-null    float64
 7   embarked     201 non-null    object
 8   class        201 non-null    category
 9   who          201 non-null    object
 10  adult_male   201 non-null    bool
 11  deck         201 non-null    category
 12  embark_town  201 non-null    object
 13  alive        201 non-null    object
 14  alone        201 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 20.1+ KB