In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
# Create the data
data= pd.DataFrame({'age': [20,22,24,26,28,30,32,70]})

In [5]:
data.head()

   age
0   20
1   22
2   24
3   26
4   28

In [6]:
# Calculate the mean and standard deviation
mean= np.mean(data['age'])
std= np.std(data['age'])

In [7]:
# Calculate the z-score or z-score remove the outliers
data['Z-Score']= (data['age'] - mean/ std)
data

   age    Z-Score
0   20  17.903491
1   22  19.903491
2   24  21.903491
3   26  23.903491
4   28  25.903491
5   30  27.903491
6   32  29.903491
7   70  67.903491

In [9]:
# Identify outliers using a standard threshold (e.g., |Z-Score| > 2)
outliers = data[np.abs(data['Z-Score']) > 67]
print(f'Outliers based on Z-score (threshold > 2):\n{outliers}')

Outliers based on Z-score (threshold > 2):
   age    Z-Score
7   70  67.903491

In [10]:
# Remove outliers
data_clean = data[np.abs(data['Z-Score']) <= 2]  # Keep data within 2 standard deviations

print(f'Data without outliers:\n{data_clean}')

Data without outliers:
Empty DataFrame
Columns: [age, Z-Score]
Index: []

In [10]:
import numpy as np
from scipy import stats

#sample data
data= [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.1]

# Calculate the Z-Score for each data point
z_scores= np.abs(stats.zscore(data))

# Set a threshold for identifying outliers
threshold= 2.5
outliers= np.where(z_scores > threshold)[0] #is threshold ki base py outliers ko remove kr sakhty hai

# print the data
print('Data', data)
print('Indicates of Outliers:', outliers)
print('Outliers:', [data[i] for i in outliers])

# Remove outliers
data= [data[i] for i in range(len(data)) if i not in outliers]
print('--------------------------------')
print('Data without outliers:', data)

Data [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0, 110.1]
Indicates of Outliers: [9]
Outliers: [110.1]
--------------------------------
Data without outliers: [2.5, 2.7, 2.8, 3.0, 3.2, 3.4, 3.6, 3.8, 4.0]