# ANOVA
Analysis of Variance

In [2]:
import scipy.stats as stats

# sample data
a= [1.2, 3.4, 5.3, 6.4, 4.5]
b= [11.2, 12.4, 15.3, 13.4, 14.5]
c= [41.2, 23.4, 25.3, 26.4, 24.5]

# perform one-way ANOVA
f_stats, p_val= stats.f_oneway(a, b, c)

#print the results based on if else conditions
if p_val > 0.5:
    print(f'p_val : {p_val}, variance are equal (fail to reject H0)')
else:
    print(f'p_val : {p_val}, variance are not equal(reject to H0)')

p_val : 8.400216501070228e-06, variance are not equal(reject to H0)

# One-way ANOVA:

In [3]:
fertilizer1= [10, 13, 12, 18, 14]
fertilizer2= [20, 23, 22, 28, 24]
fertilizer3= [30, 33, 32, 38, 34]

#perform one-way anova 
f_stat, p_val= stats.f_oneway(fertilizer1, fertilizer2, fertilizer3)

print('F-statistics:', f_stat)
print('p-value:', p_val)

if p_val < 0.5:
    print(f'Reject the null hypothesis: The means are not equal, as the p-value {p_val}, are less than 0.05')
else:
    print(f'Reject the null hypothesis: The means are not equal, as the p-value {p_val}, are greater than 0.05')

F-statistics: 56.81818181818174
p-value: 7.592684063967297e-07
Reject the null hypothesis: The means are not equal, as the p-value 7.592684063967297e-07, are less than 0.05

In [7]:
#one-way ANOVA using statsmodels
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [10]:
# Create a dataframe
df=pd.DataFrame({'fertilizer': ['fertilizer1']*5 + ['fertilizer2']*5 + ['fertilizer3']*5, 
                 'growth': fertilizer1+ fertilizer2+ fertilizer3})
df.head()

    fertilizer  growth
0  fertilizer1      10
1  fertilizer1      13
2  fertilizer1      12
3  fertilizer1      18
4  fertilizer1      14

In [13]:
df['fertilizer'].value_counts()

fertilizer
fertilizer1    5
fertilizer2    5
fertilizer3    5
Name: count, dtype: int64

In [11]:
# Fit the models
models= ols('growth ~ fertilizer', data=df).fit()

In [12]:
# Perform ANOVA and print the summary table
anova_tab= sm.stats.anova_lm(models, typ=2)
print(anova_tab)

            sum_sq    df          F        PR(>F)
fertilizer  1000.0   2.0  56.818182  7.592684e-07
Residual     105.6  12.0        NaN           NaN

In [14]:
#print the results based on if the p-value is less than 0.05
if anova_tab['PR(>F)'][0] < 0.05:
    print(f'Reject the null hypothesis: The means are not equal, as the p-value {p_val}, are less than 0.05')
else:
    print(f'Accept the null hypothesis: The means are not equal, as the p-value {p_val}, are greater than 0.05')

Reject the null hypothesis: The means are not equal, as the p-value 7.592684063967297e-07, are less than 0.05

C:\Users\Summaiya\AppData\Local\Temp\ipykernel_5396\590560378.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_tab['PR(>F)'][0] < 0.05: